*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: url(images/landing.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.overlay{
    background-color: rgba(0, 0, 0, 0.3);
    min-height: 100vh;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}
nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 50px;
}
.nav_links{
    flex: 1;
    text-align: right;
}
.nav_links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav_links ul li a{
    color: #fff;
    text-decoration: none;
    font: 16px;
}
.nav_links ul li ::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #3455B2;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav_links ul li :hover::after{
    width: 100%;
}

.text_box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text_box h1{
    font: 62px;
    text-transform: uppercase;
}
.text_box p{
    margin:10px 0 40px;
    font-size: 14px;
    color: #fff;
}
.hero_btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 14px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero_btn:hover{
    border: 1px solid #3455B2;
    background: #3455B2;
    transition: 1s;
}

/*offer section*/
.offer{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: #000;
    font-size: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.column{
    flex-basis: 31%;
    background: #C1CFF6;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.column:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

/*galery*/
.galery{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.galery h1{
    padding-bottom: 30px;
}
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  


/*video*/
.video_part{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top:50px;
    padding-bottom: 50px;
}

  #videoContainer {
    position: relative;
    width: 100%;
  }
  
  #myVideo {
    width: 100%;
  }
  
  #controls {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
  }
  
  #playButton,
  #muteButton {
    width: 30px;
    height: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
  }
  
  #playButton {
    background-image: url(images/play.png);
  }
  
  #muteButton {
    background-image: url(images/mute.png);
  }
  
  #timeDisplay {
    font-size: 14px;
    margin-left: 10px;
  }
/*faq*/
.faq-heading{
    border-bottom: #777;
    padding: 20px 60px;
}
.faq-container{
display: flex;
justify-content: center;
flex-direction: column;
color: #3455B2;
}
.hr-line{
  width: 60%;
  margin: auto;
  
}

.faq-page {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 30px 20px;
    width: 60%;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: auto;
}
.faq-body{
    margin: auto;
    text-align: center;
    width: 50%; 
    padding: auto;
   
}

.faq-page:hover {
    background-color: #3455B2;
}

.faq-body {
    padding: 0 18px;
    background-color: w#fff;
    display: none;
    overflow: hidden;
}
.faq-page:after {
    content: '\02795';

    font-size: 13px;
    color: #fff;
    float: right;
    margin-left: 5px;
}
.active:after {
    content: "\2796";

}


/*footer*/
.footer{
    width: 100%;
    text-align: center;
    padding:30px;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.icons {
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;

}
.pictures{
    height: 30px;
    width: 30px;
}
#picture{
    height: 35px;
    width: 35px;
}